@use '../../styles.scss' as s;

#editor-textarea {
  color: s.$t;
  width: 100%;
  height: 99%;
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
  font-size: medium;
  font-family: "Roboto-Mono";
}
