<div class="main-frame-div">
  <div class="sidebar-div">
    <app-sidebar [notebooks]="config.notebooks" (selectedFile)="selectFile($event)" (newNotebook)="newNotebookDialogOpen = true" (delete)="delete()" (newFolder)="openNewFolderDialog()" (newFile)="openNewFileDialog()" (renameEvent)="openRenameDialog()"></app-sidebar>
  </div>
  <div class="pane-div">
    <as-split direction="horizontal">
      <as-split-area *ngIf="showEditor" [size]="50">
        <app-editor [(markdownCode)]="markdownCode" (save)="save()"></app-editor>
      </as-split-area>
      <as-split-area *ngIf="showPreview" [size]="50">
        <app-preview [markdownCode]="markdownCode" [imageFolderPath]="imageFolderPath"></app-preview>
      </as-split-area>
    </as-split>
  </div>
  <div class="side-buttons-div">
    <span class="icon edit" *ngIf="showPreview" (click)="togglePreview()"></span>
    <span class="icon icon-passive edit" *ngIf="!showPreview" (click)="togglePreview()"></span>
    <span class="icon view" *ngIf="showEditor" (click)="toggleEditor()"></span>
    <span class="icon icon-passive view" *ngIf="!showEditor" (click)="toggleEditor()"></span>
  </div>
</div>
<div class="overlay" *ngIf="newNotebookDialogOpen || newFolderDialogOpen || newFileDialogOpen || renameDialogOpen"></div>
<div class="dialog-div" *ngIf="newNotebookDialogOpen || newFolderDialogOpen || newFileDialogOpen || renameDialogOpen">
  <div class="dialog-content-div">
    <div id="new-notebook-dialog" *ngIf="newNotebookDialogOpen">
      <h1>Create a new notebook</h1>
      <input type="text" id="notebook-name-input" placeholder="Notebook name" [(ngModel)]="newNotebookName">
      <div class="file-location-div">
        <input type="text" id="file-location-input" placeholder="Notebook location" [(ngModel)]="newNotebookLocation">
        <span class="icon folder-open" id="browse-icon" (click)="openDirectoryDialog()"></span>
      </div>
      <div class="dialog-button-bar">
        <span class="icon close" (click)="newNotebookDialogOpen = false"></span>
        <span class="icon done" (click)="createNewNotebook()"></span>
      </div>
    </div>
    <div id="new-file-folder-dialog" *ngIf="newFolderDialogOpen || newFileDialogOpen || renameDialogOpen">
      <h1 *ngIf="newFolderDialogOpen">Create new folder</h1>
      <h1 *ngIf="newFileDialogOpen">Create new file</h1>
      <h1 *ngIf="renameDialogOpen">Rename</h1>
      <input *ngIf="newFolderDialogOpen || newFileDialogOpen" type="text" id="new-file-folder-name-input" placeholder="name" [(ngModel)]="newFileFolderName">
      <input *ngIf="renameDialogOpen" type="text" id="new-file-folder-name-input" placeholder="name" [(ngModel)]="renameName">
      <div *ngIf="newFolderDialogOpen || newFileDialogOpen" class="dialog-button-bar">
        <span class="icon close" (click)="newFolderDialogOpen = newFileDialogOpen = false"></span>
        <span class="icon done" (click)="createNewFileFolder()"></span>
      </div>
      <div *ngIf="renameDialogOpen" class="dialog-button-bar">
        <span class="icon close" (click)="renameDialogOpen = false"></span>
        <span class="icon done" (click)="rename()"></span>
      </div>
    </div>
  </div>
</div>
