<div class="main-frame-div">
  <as-split direction="horizontal">
    <as-split-area [size]="20">
      <app-sidebar [notebooks]="config.notebooks" (selectedFile)="selectFile($event)" (newNotebook)="newNotebookDialogOpen = true" (delete)="delete()" (newFolder)="openNewFolderDialog()" (newFile)="openNewFileDialog()"></app-sidebar>
    </as-split-area>
    <as-split-area [size]="40">
      <app-editor [(markdownCode)]="markdownCode"></app-editor>
    </as-split-area>
    <as-split-area [size]="40">
      <app-preview [markdownCode]="markdownCode"></app-preview>
    </as-split-area>
  </as-split>
</div>
<div class="overlay" *ngIf="newNotebookDialogOpen || newFolderDialogOpen || newFileDialogOpen"></div>
<div class="dialog-div" *ngIf="newNotebookDialogOpen || newFolderDialogOpen || newFileDialogOpen">
  <div class="dialog-content-div">
    <div id="new-notebook-dialog" *ngIf="newNotebookDialogOpen">
      <h1>Create a new notebook</h1>
      <input type="text" id="notebook-name-input" placeholder="Notebook name" [(ngModel)]="newNotebookName">
      <div class="file-location-div">
        <input type="text" id="file-location-input" placeholder="Notebook location" [(ngModel)]="newNotebookLocation">
        <span class="icon folder-open" id="browse-icon" (click)="openDirectoryDialog()"></span>
      </div>
      <div class="dialog-button-bar">
        <span class="icon close" (click)="newNotebookDialogOpen = false"></span>
        <span class="icon done" (click)="createNewNotebook()"></span>
      </div>
    </div>
    <div id="new-file-folder-dialog" *ngIf="newFolderDialogOpen || newFileDialogOpen">
      <h1 *ngIf="newFolderDialogOpen">Create new folder</h1>
      <h1 *ngIf="newFileDialogOpen">Create new file</h1>
      <input type="text" id="new-file-folder-name-input" placeholder="name" [(ngModel)]="newFileFolderName">
      <div class="dialog-button-bar">
        <span class="icon close" (click)="newFolderDialogOpen = newFileDialogOpen = false"></span>
        <span class="icon done" (click)="createNewFileFolder()"></span>
      </div>
    </div>
  </div>
</div>
