@use 'styles.scss' as s;

.md h1 {
  color: s.$h;
  margin: 10px 0px;
  border-bottom: 2px solid s.$h;
}

.md h2 {
  color: s.$h;
  margin: 10px 0px;
  border-bottom: 1px solid s.$h;
}

.md h3 {
  color: s.$hc;
  margin: 10px 0px;
  border-bottom: 1px solid s.$hc;
}

.md h4 {
  color: s.$hc;
  margin: 10px 0px;
  border-bottom: 0.5px solid s.$hc;
}

.md h5 {
  color: s.$t;
  margin: 10px 0px;
  border-bottom: 1px solid s.$t;
}

.md h6 {
  color: s.$t;
  margin: 10px 0px;
  border-bottom: 1px solid s.$t;
}

.md p, .md li {
  color: s.$t;
  font-family: s.$f;
}

.md .mermaid {
  display: flex;
  justify-content: center;
}

.md svg {
  overflow: visible;
}

.md code {
  color: s.$h2;
}

.md img {
  width: 100%;
}

.md table {
  border-spacing: 0px 10px;
}

.md th {
  text-align: left;
  color: s.$t;
  border-bottom: 1px solid s.$h;
  border-collapse: collapse;
}

.md td {
  color: s.$t;
  border-bottom: 1px solid s.$hc;
  border-collapse: collapse;
}
