@use 'styles.scss' as s;

.md h1 {
  color: s.$h;
  margin: 10px 0px;
}

.md p, .md li {
  color: s.$t;
}

.md .mermaid {
  display: flex;
  justify-content: center;
}

.md svg {
  overflow: visible;
}
