$b: #1B1F3A;
$bc: #53354A;

$h: #A64942;
$hc: #FF7844;

$t: #b5b5b5;

body, html {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: $b;
}

p {
  color: $t;
}


.content-div {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}
